#os-root {
    font-family: 'Lucida Grande';
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

#os-root a {
    text-decoration: none;
}

#os-root #top {
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    color: #ffffff;
    text-shadow: 1px 1px 2px #333333c9;
    padding: 0 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999999999999999;
}

#os-root #top .right {
    float: right;
}

#os-root .app-container {
    color: #ffffff;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Bootscreen */
.bootview {
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

/* Homescreen */
.homescreen {
    position: relative;
    background: #ffffff;
    height: 100%;
    overflow: hidden;
}

.homescreen .wallpaper,
.homescreen .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.homescreen .wallpaper {
    width: 100%;
}

.homescreen .inner {
    color: #ffffff;
    padding-top: 40px;
    text-shadow: 1px 1px 2px #333333c9;
    margin-top: 20px;
}

.homescreen .inner .time {
    text-align: center;
    font-size: 40px;
}

.homescreen .inner .date {
    text-align: center;
}

/* Menuview */
.menuview .wallpaper,
.menuview .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.menuview .wallpaper {
    width: 100%;
}

.menuview {
    text-shadow: 1px 1px 2px #222222c9;
    position: relative;
    padding-top: 20px;
    box-sizing: border-box;
}

.menuview .inner {
    margin-top: 20px;
}

.menuview .inner .scrollable {
    padding: 10px;
}

.menuview,
.menuview .menu-icon {
    color: #ffffff;
    text-decoration: none;
}

.menuview .menu-icon {
    float: left;
    text-align: center;
    margin-right: 20px;
}

.menuview .menu-icon .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background: #ffffff;
    overflow: hidden;
}

.menuview .menu-icon .icon img {
    width: 100%;
    height: 100%;
}

.menuview .menu-icon .name {
    font-size: 10px;
    margin-top: 3px;
}

/* App container nairaland */
.app-container.nairaland iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.app-container.gallery .grid {
    padding: 1px 0 0 1px;
}

.app-container.gallery .grid-item {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    margin: 0 1px 1px 0;
}

.app-container.gallery .grid-item img {
    width: 100%;
    height: auto;
}

.app-container.gallery .img-full {
    position: relative;
}

.app-container.gallery .img-full .back,
.app-container.gallery .img-full .set-wallpaper {
    color: #ffffff;
    text-shadow: 1px 1px 2px #222222c9;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    z-index: 99999999999999;
    top: 2px;
}

.app-container.gallery .img-full .back {
    left: 2px;
}

.app-container.gallery .img-full .set-wallpaper {
    right: 2px;
    font-size: 12px;
}

.app-container.gallery .img-full img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.app-container.gallery .wallpaper-modal-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9999999999;
    padding: 0 10px;
}

.app-container.gallery .wallpaper-modal-container .modal {
    background: #ffffff;
    padding: 10px;
    color: #000000;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 13px;
}

.app-container.gallery .wallpaper-modal-container .modal .btn-area {
    margin-top: 20px;
}

.app-container.gallery .wallpaper-modal-container .modal .btn-area .modal-yes {
    color: blue;
}

.app-container.gallery .wallpaper-modal-container .modal .btn-area .modal-back {
    color: red;
    margin-left: 20px;
}
